{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3> Entscheidungssituation</h3>
     <p>
         In diesem Spiel trifft Teilnehmer A zunächste eine Entscheidung und kann zwischen "Option L" und "Option R" wählen.
     </p>
     <p>
         Bei Option L folgt direkt eine Auszahlung von 5 ECU für Teilnehmer A, 5 ECU für Teilnehmer B1 und 5 ECU für Teilnehmer B2.
     </p>

        <p>
         Wenn die Option R von Teilnehmer A gewählt wird, werden die Auszahlungen für die Teilnehmer von den Teilnehmern B1 und B2 bestimmt. In diesem Falle entscheiden B1 und B2 zwischen zwei Optionen:
         <ul>
            <li>Eine Entscheidung für die "Option L" bedeutet für Teilnehmer A eine Auszahlung von 0 ECU und für den entsprechenden Teilnehmer B 14 ECU.</li>
            <li>Eine Entscheidung für die "Option R" bedeutet für Teilnehmer A eine Auszahlung von +6 ECU und für den entsprechenden Teilnehmer B 10 ECU.
         </ul>

        <b>Die gesamte Auszahlung für Teilnehmer A ergibt sich aus der Summe der beiden Entscheidungen der Teilnehmer B1 und B2.</b>
    </p>
    <p>
         Die Wahl der Teilnehmer B1 und B2 wird in diesem Experiment unabhängig der Wahl des Teilnehmers A abgefragt.
         Die Entscheidung des Teilnehmers A wird von den Teilnehmern B1 und B2 jedoch nicht beobachtet.
    </p>
    <p>
        Ebenso wird Teilnehmer A nicht über die einzelnen Entscheidungen der Teilnehmer B1 und B2 informiert. A erfährt lediglich die Auszahlung die sich aus den Entscheidungen ergibt.
    </p>

    {% if treatment == 2 %}
        <h3>Details für Teilnehmer B2</h3>
            <p>
                Wenn Ihnen die Rolle B2 zugewiesen wird, erfahren Sie die Entscheidung des Teilnehmers B1 bevor Sie Ihre Entscheidung treffen.
            </p>
    {% elif treatment == 3 %}
        <h3>Details für Teilnehmer B2</h3>
            <p>
                Wenn Ihnen die Rolle B2 zugewiesen wird, können Sie Ihre Entscheidung von der Entscheidung des Teilnehmers B1 abhängig machen.
                Dies bedeutet, dass Sie gefragt werden, wie Sie sich für jede mögliche Entscheidung des Teilnehmers B1 entscheiden.
            </p>
    {% endif %}


    </div>
</div>
