{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Anleitung
    </h3>
    <p>
        Sie können in diesem Experiment Geld verdienen. Dies ist abhängig von Ihren Entscheidungen und der Entscheidungen der anderen Teilnehmer.
        Es ist daher sehr wichtig, dass Sie diese Anleitung gründlich und exakt durchlesen.
    </p>
    <h3>Vorgehen</h3>
    <p>
        Das Experiment dauert in etwa 10 Minuten. Ihre Auszahlung aus diesem Experiment hängt von Ihren Auswahlen und möglicherweise deren der anderen Teilnehmer ab.
        Die Auszahlungen werden in ECU (Experimental Currency Units) getätigt, wobei 1 ECU = 0.1 USD.
    </p>

    <h3>Details</h3>
    <p>
        Drei Teilnehmer interagieren miteinander. Diese Teilnehmer sind Teilnehmer A sowie Teilnehmer B1 und Teilnehmer B2.
        Ob Sie Teilnehmer A oder Teilnehmer B sind, wir zu Beginn des Experiments bestimmt.
        Es ist wichtig, dass Sie mit allen Rollen vertraut sind.
        Sie werden bis zum Ende des Experiments <strong>  nicht</strong>  über Ihre Auszahlung informiert.
    </p>

    </div>
</div>
