{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Hypothetische Entscheidung
{% endblock %}

{% block content %}
    <h3>Sie sind Teilnehmer B2</h3>

    <p>
        Die folgende Wahl ist hypothetisch. Beantworten Sie diese dennoch bitte ehrlich.
    </p>
    <p>
     Gehen Sie nun davon aus, Teilnehmer B1 wählte
        {% if sent_back_amount_1 == 0 %}
           Option R
        {% else %}
            Option L
        {% endif %}
    was hätten Sie gewählt?
    </p>

    {% formfield group.sent_back_amount_2_direct_hypo label="Ihre (hypothetische) Wahl" %}

    {% next_button %}

    {% include Constants.instructions_decision %}

{% endblock %}
