{% extends "otree/Page.html" %}
{% load otree static %}
{% load i18n %}


{% block internal_styles %}

{{ block.super }}
<style>
    .otree-body {
        max-width:970px
    }

    .page-header {
        padding-top: 40px
    }
</style>

{% endblock %}


{% block internal_scripts %}

    {{ block.super }}
    <!-- this is an HTML file rather than JavaScript static file because context variables need to be passed to it -->
    <script type="text/javascript">
        $(document).ready(function() {

            // Set document language:
            document.getElementsByTagName("html")[0].setAttribute("lang", "de");

            {% comment %}
            One user reported that with a 588 bot session,
            web socket for auto-advance adds 4s to each page load.
            {% endcomment %}
            var socket;

            function initWebSocket() {
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
                var ws_path = ws_scheme + '://' + window.location.host + "{{ view.socket_url|safe }}";

                socket = new ReconnectingWebSocket(ws_path);
                socket.onmessage = function (e) {
                    var data = JSON.parse(e.data);

                    if (data.error) {
                        $("#_otree-server-error").show();
                        return;
                    }

                    if (data.auto_advanced) {
                        console.log('Received redirect message', e.data);
                        window.location.href = '{{ view.redirect_url|safe }}';
                    }
                };
            }

            initWebSocket();


            {% if participant.is_browser_bot %}
                {# submit the form instantly #}
                {# below comment is used as a flag #}
                // browser-bot-auto-submit
                var form = $('#form');
                form.submit();

                {# prevent duplicate submissions, e.g. timeout_seconds #}
                form.on('submit', function (e) {
                    e.preventDefault();
                });
            {% endif %}

        });

    </script>

    {% if view.remaining_timeout_seconds != None %}
        {% include 'otree/includes/TimeLimit.js.html' %}
    {% endif %}

{% endblock %}


{% block global_styles  %}

<link href="{% static "global/favicon.ico" %}" rel="shortcut icon">

<link href="{% static "global/webfonts.css" %}" rel="stylesheet">
<style type="text/css">
   .lightfont {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      font-size: 14px;
      display: inline-block;  /* without this, line-height does not work */
      line-height: 1.2;
   }
   body {
      font-family: 'Source Sans Pro', sans-serif;
      /* font-family: 'Spectral', serif; */
      font-weight: 400;
      font-size: 17px;
      font-variant-ligatures: common-ligatures;
      /* font-variant-ligatures: discretionary-ligatures; */
      -webkit-hyphens: auto;
      -moz-hyphens:    auto;
      -ms-hyphens :    auto;
      hyphens:         auto;
      hyphenate-limit-zone: 500px;
   }
   /* b {
      font-weight: 600;
   } */
   h1, h2, h3, h4, h5, h6 {
      font-family: 'Spectral', serif;
      font-weight: 600;
      /* font-family: 'CharisSILW', serif; */
      font-variant-ligatures: common-ligatures;
      -webkit-hyphens: manual;
      -moz-hyphens:    manual;
      -ms-hyphens :    manual;
      hyphens:         manual;
   }
   /* h1, h3, h4, h5, h6 {
      font-weight: bold;
   } */
   h2 {
      margin-bottom: 28px;
   }
   h3 {
      font-size: 23px;
      margin-top: 28px;
      margin-bottom: 14px;
   }
   h4 {
      font-size: 20px;
      margin-top: 21px;
      margin-bottom: 10px;
   }
   tt {
       font-family: 'Source Code Pro', monospace;
   }
   q:before { content: open-quote;  }
   q:after  { content: close-quote; }
   :lang(en) q { quotes: '“' '”' '‘' '’'; }
   :lang(de) q { quotes: '„' '“' '‚' '‘'; }
   :root{
      --color-A:       rgb(   0, 128,   0);
      --color-A-BG:    rgba(  0, 128,   0, 0.5);
      --color-A-trans: rgba(  0, 128,   0, 0.15);
      --color-B:       rgb(  17, 102, 187);
      --color-B-BG:    rgba( 17, 102, 187, 0.9);
      --color-B-trans: rgba( 17, 102, 187, 0.15);
   }
   p {
      margin-top:    11px;
      margin-bottom: 11px;
   }
   .page-header {
      padding-top: 5px;
   }
</style>

{% endblock %}


{% block global_scripts  %}

{% endblock %}
